.wrapper {
  padding: 1rem;
}

.square {
  height: 100px;
  width: 100px;
  background-color: oklch(0.69 0.18 245.62);
  border-radius: 0.25rem;
  transition-duration: 300ms;
  transition-property: transform, background-color;

  &:hover {
    transform: rotate(45deg);
    background-color: tomato;
    border-radius: 2rem;
  }
}
