.wrapper {
  padding: 1rem;
}

.square {
  height: 100px;
  width: 100px;
  background-color: oklch(0.69 0.18 245.62);
  border-radius: 0.25rem;
  transition-duration: 300ms;
  transition-property: transform, background-color, border-radius;
  transition-timing-function: ease-in;

  &:hover {
    transform: rotate(45deg);
    background-color: tomato;
    border-radius: 2rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.box {
  width: 50px;
  height: 50px;
  background-color: oklch(0.69 0.18 245.62);
  border-radius: 0.25rem;
  transition-duration: 1s;
}

.container:hover .box {
  transform: translateX(400px);
}