.flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wrapper {
  padding: 2rem;
}

.square {
  height: 50px;
  width: 50px;
  background-color: oklch(0.69 0.18 245.62);
  border-radius: 0.25rem;

  /*animation: move 2s ease-in-out infinite;*/
  animation: tadaaa 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(300px) scale(0.5);
  }
  40%, 60%, 80% {
    transform: translateX(300px) translateY(200px) scale(0.5);
  }
  75% {
    transform: translateX(0) translateY(200px) scale(1.5);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(900deg);
  }
}

@keyframes tadaaa {
  0% {
    transform: translateX(0);
  }
  40%,
  60% {
    transform: translateX(150px) scale(0.8) rotate(-3deg);
    animation-timing-function: cubic-bezier(0.26, 1.75, 0.69, 0.19);
  }
  100% {
    transform: translateX(150px) rotate(90deg) scale(1,1);
  }
}