.wrapper {
  padding: 2rem;
}

.square {
  height: 100px;
  width: 100px;
  background-color: oklch(0.69 0.18 245.62);
  border-radius: 0.25rem;

  animation: move 2s ease-in-out infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(300px);
  }
}