.container {
  position: relative;
  width: 400px;
  height: 400px;
}

.star {
  position: absolute;
  inset: 0;
  background: hotpink;
}

.rectangle {
  width: 40px;
  height: 20px;
  background-color: hotpink;
  border: 0.25rem;
  offset-path: url(#motion-path);

  animation: follow-path 5s ease-in-out infinite alternate;
}

@keyframes follow-path {
  40% {
    offset-distance: 55%;
  }
  55% {
    offset-distance: 45%;
  }
  to {
    offset-distance: 100%;
  }
}