.rectangle {
  width: 40px;
  height: 20px;
  background-color: hotpink;
  border: 0.25rem;
  margin-left: 1rem;
  margin-top: 1rem;
  offset-path: path("M55 242L3 146L95 118L184 58C199.167 20.6028 234.5 -35.5314 254.5 39.1096C279.5 132.411 215.245 265.51 323 157.755C409.204 71.551 472.918 75.3333 494 88L516 191L342 235C324.05 272.526 308.735 342.063 391.075 320C494 292.421 575.5 330.083 575.5 224.5C575.5 118.917 642.245 2.5101 642.245 157.755");

  animation: follow-path 3s ease-in-out infinite alternate;
}

@keyframes follow-path {
  to {
    offset-distance: 100%;
  }
}