:root {
  --star: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      79% 63%,
      79% 91%,
      54% 89%,
      54% 56%,
      12% 71%,
      2% 35%,
      39% 35%
  );
}

.container {
  position: relative;
  width: 350px;
  height: 350px;
  margin-bottom: 5rem;
}

.star {
  position: absolute;
  inset: 0;
  background: hotpink;
  clip-path: var(--star);
}

.marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 6px;
  background: black;
  animation: follow-path 5s ease-in-out infinite alternate;

  offset-path: var(--star);
}

.rectangle {
  width: 40px;
  height: 20px;
  background-color: hotpink;
  border: 0.25rem;
  offset-path: url(#motion-path);

  animation: follow-path 5s ease-in-out infinite alternate;
}

@keyframes follow-path {
  40% {
    offset-distance: 55%;
  }
  55% {
    offset-distance: 45%;
  }
  to {
    offset-distance: 100%;
  }
}