.rectangle {
  width: 40px;
  height: 20px;
  background-color: hotpink;
  border: 0.25rem;
  offset-path: url(#motion-path);

  animation: follow-path 3s ease-in-out infinite alternate;
}

@keyframes follow-path {
  to {
    offset-distance: 100%;
  }
}