.container {
  position: relative;
  width: 350px;
  height: 350px;
  margin-bottom: 5rem;
}

.star {
  position: absolute;
  inset: 0;
  background: hotpink;
  clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    )
  ;
}

.marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 6px;
  background: black;

  offset-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.rectangle {
  width: 40px;
  height: 20px;
  background-color: hotpink;
  border: 0.25rem;
  offset-path: url(#motion-path);

  animation: follow-path 5s ease-in-out infinite alternate;
}

@keyframes follow-path {
  40% {
    offset-distance: 55%;
  }
  55% {
    offset-distance: 45%;
  }
  to {
    offset-distance: 100%;
  }
}