article {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.scroll-container {
  padding: 2rem;
  height: 400px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  background: #e7e7e7;
}

.inner {
  margin: 200px 0;
}

.square {
  width: 100px;
  height: 100px;
  background: hotpink;
}

.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 8px;
  background: hotpink;
  transform-origin: left;

  animation: progress linear;
  animation-timeline: scroll();
}

@keyframes progress {
  from {
    transform: scaleX(0);
  }
}